# Ignore all log files and old measurements
logs/
measurements/*

# Ignore VS Code files
.vscode

# Ignore compiled client and server and the stats log file in custom client
custom_clients/client
custom_clients/server
custom_clients/stats.csv
